ion-content {
    --background: #F6F1EE;
    --color: black;
}

.ade701f7-d556-43c5-88e1-fadaa04962d8,
        .bcf0387c-5596-417c-9c0d-725b446325bf {
          fill: none;
          stroke: #012c3d;
        }

        .ade701f7-d556-43c5-88e1-fadaa04962d8 {
          stroke-miterlimit: 10;
        }

        .bcf0387c-5596-417c-9c0d-725b446325bf {
          stroke-linejoin: round;
        }

        .a58bfeb8-9b4a-43fa-90c5-203d31b2fa92 {
          fill: #bab9b9;
        }

        .acab4c49-346a-40cb-88ca-2ba027ea2432,
        .b78c4b68-92c9-4c4b-b823-2343e30cab91 {
          fill: #f2ccd0;
        }

        .b78c4b68-92c9-4c4b-b823-2343e30cab91,
        .bea00515-0f5d-4946-b1d3-1902b59e986a {
          opacity: 0.81;
        }

        .fbe9c9d3-dea0-4325-862f-67d204085df3 {
          fill: #012c3d;
        }

        .b11a223d-52f6-4a22-b926-1e15854c10d0 {
          fill: #f96973;
        }