#body{
  margin: auto;
  // display: none;
  display: block;
  height: 100%;
}

#backBody{
  margin: auto;
  display: none;
  // display: block;
  height: 100%;
}

#body-wrapper{
  height:calc(100vh - 50px);
  overflow: hidden;
}

#button-wrapper{
  ion-button{
    float: left;
    width: 45%;
  }
}

#buttons{
  opacity: 0;
  overflow: scroll;
  display: none;

  ion-button{
    --background: #C4C4C4;
    color: #012C3D;
  }
}