#main-grid {
  padding: 0px;

  >ion-row {
    padding: 0px;

    >ion-col {
      padding: 0px;
    }
  }
}

#header {
  height: 8vh;
  position: relative;
  padding: 2%;
  width: 100%;
  display: flex;
  align-items: center;

  p {
    margin: 0px;
    text-align: center;
    width: 100%;
  }
}

#body-wrapper {
  height: 72vh;
  overflow: hidden;
}

#rotate-row,
#continue-row {
  height: 10vh;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;

  ion-grid {
    height: 100%;

    ion-row {
      height: 50%;
    }
  }
}

#rotate-row {
  bottom: 10vh;
}

#buttons {
  opacity: 0;
  overflow-y: scroll;
  display: none;
  position: relative;

  .button {
    width: 90%;
    border: 2px solid var(--gray);
    border-radius: 50px;
    margin: 0 auto;
    position: relative;
    padding: 0.5em 0.3em;
    text-align: center;
    margin-top: 5px;
    font-size: 1.2em;
    color: var(--dark);
    background-color: var(--light);
  }

  .selected-subarea{
    border-color: var(--blue);
    background-color: var(--blue);
    color: var(--light);
  }
}

#buttons-wrapper{
  position: relative;

  .fade-effect {
    position: absolute;
    display: none;
    height: 3em;
    width: 100%;
    background: rgb(246,241,238);
    background: linear-gradient(0deg, rgba(246,241,238,1) 0%, rgba(246,241,238,0) 100%);
    z-index: 100;
    bottom: 0;
    pointer-events: none;
  }
}

$gapSize: 3px;

.custom-btn {
  width: 80%;
  border: 2px solid #012C3D;
  border-radius: 50px;
  margin: 0 auto;
  position: relative;
  padding: 3%;
  text-align: center;

  ion-grid {
    padding: 0;

    ion-row {
      height: 100%;

      ion-col {
        padding: 0px;
        text-align: center;
        height: 100%;

        p {
          height: 100%;
          margin: 0;
          vertical-align: middle;
        }
      }
    }
  }
}



.not-selected {
  background-color: var(--light);
  color: var(--dark);
}

.selected {
  background-color: var(--dark);
  color: var(--light);
}