<ion-content>
  <div class="titleicon" >
    <img class="inside_img" src="assets/images/titleimg.png">
  </div>

  <ion-button *ngIf="loaded" class="titlebtn" [routerLink]="['/onboarding']" fill="outline" shape="round" size="large">
    <ion-toolbar>
      <ion-icon slot="start" name="arrow-forward-outline"></ion-icon>
      <p>POKRAČOVAŤ</p> 
    </ion-toolbar>
  </ion-button>

  <div *ngIf="!loaded" class="titlebtn">
    <ion-spinner class="titlebtn" name="bubbles" color="dark"></ion-spinner>
  </div>
</ion-content>