.title {
    text-transform: none;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.searchbar {
    width: 90%;
    margin: auto;
    --background: #dfe3e3;
    --color: var(--dark);
    --border-radius: 15px;          /* Thank you for not working :) */
    --box-shadow: none;

    ion-icon {
        color: #67808B;
    }
}
::ng-deep .searchbar-input {
    border-radius: 15px !important; // this dude is here, because property 
                                    // --border-radius seems uneffective :(
}

.fade-wrapper {
    position: absolute;
    height: 70%;
    width: 95%;
    margin: auto;
    left: 0;
    right: 0;

    .scrollable {
        height: 100%;
        overflow: scroll;
    }
}

.btn-div {
    position: absolute;
    bottom: 2%;
    left: 7%;
    right: 7%;
    height: 6vh;
}
