.main {
    width: 90%;
    margin: auto;
    text-align: center;

    .scrollable {
        position: relative;
        height: 70vh;
        overflow: scroll;

        .text_div {
            margin-top: 5%;
        }
        .left {
            color: var(--dark);
            text-align: left;
        }
        .extratop {
            margin-top: 8%;
        }

        .item_div {
            padding-bottom: 3%;
            margin-top: -3%;

            .highlight-dark {
                border-bottom: 2px solid var(--dark);
            }
            .highlight-blue {
                border-bottom: 2px solid var(--blue);
            }
            .highlight-gray {
                border-bottom: 2px solid var(--gray);
            }
            .highlight-red {
                border-bottom: 2px solid var(--red);
            }

            > ion-item {
                --background: "transparent";
                --color: var(--dark);
                border: none;

                > ion-input {
                    font-family: poppins;
                }
            }
        }

        .radio-group {
            display: inline-block;
            width: 100%;

            .radio-opt {
                float: left;
                width: 33%;
                display: block;

                .radio {
                    --background: transparent;
                    --color: var(--dark);
                    border: none;

                    div {
                        text-align: center;
                        width: 100%;
                    }

                    ion-radio {
                        width: 0px;
                        height: 0px;
                        --border-width: 0px;
                    }
                }
            }
        }

        .date-picker {
            border-radius: 3em;
            font-size: 1.2em;
            --background: var(--gray);
            --color: var(--dark);
            --padding-end: 5%;
            --padding-start: 5%;
        }

        .diag_item {
            --background: #dfe3e3;
            --color: var(--dark);
            font-weight: bold;
            border-radius: 3em;

            ion-label {
                padding-left: 7%;
            }
            ion-button {
                font-size: 1.2em;
            }
        }

        .icon {
            color: var(--dark);
        }
    }

    .form-buttons {
        position: absolute;
        bottom: 2%;
        left: 7%;
        right: 7%;

        .btn-div {
            height: 6vh;
        }
    }
}

::ng-deep .picker-wrapper {
    background: var(--gray) !important;

    .picker-opt {
        color: #67808b;
    }
    .picker-opt-selected {
        color: var(--dark);
    }
    .picker-button {
        color: var(--dark);
    }

    .picker-col {
        min-width: 50% !important;
    }

    .picker-opts-right {
        min-width: 25% !important;
    }

    .picker-opts-left {
        min-width: 25% !important;
    }
}
