#close {
    --background: rgb(164, 226, 255);
}

#close ion-button {
    position: absolute;
    top: 0;
    right: 0;
}

#close ion-button ion-icon {
    color: black;
    font-size: 20px;
}


ion-content {
    --background: rgb(164, 226, 255);
    --color: #0000ff;
}

#newdiv {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: green;
}

.slider {
    height: 100%;
    text-align: center;
    padding: 10px;
    position: relative;
    overflow: hidden;
}