
  <div class="main">
    <h3>Stojí za ňou tím nerológov a fyzioterapeutov</h3>
    
    <ion-grid fixed>
      <ion-row class="ion-align-items-center">
        <ion-col size="3">
          <ion-avatar>
            <img src="https://cdn3.iconfinder.com/data/icons/women-avatars/314/2-01-512.png">
          </ion-avatar>
        </ion-col>

        <ion-col size="9">
          <p><b>MUDr. Alžbeta Hlucháňová</b></p>
          <p>Neurológ</p>
        </ion-col>
      </ion-row>
      
      <ion-row class="ion-align-items-center">
        <ion-col size="3">
            <ion-avatar>
              <img src="https://i.ya-webdesign.com/images/boy-avatar-png-7.png">
            </ion-avatar>
        </ion-col>
        
        <ion-col size="9">
          <p><b>MUDr. Mário Lazár</b></p>
          <p>Neurológ</p>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </div>
