<div class="main">
  <h1>Za aplikáciou stoja <b>lekári a profesionáli</b> v oblasti fyzioterapie</h1>

  <div class="grid-container">
    <div class="grid-item">
      <app-owner
        label="Mario Lazar"
        src="https://cdn.iconscout.com/icon/free/png-512/avatar-380-456332.png">
      </app-owner>
    </div>
    <div class="grid-item">
      <app-owner
        label="Maria Lazarova"
        src="https://cdn3.iconfinder.com/data/icons/women-avatars/314/2-01-512.png">
      </app-owner>
    </div>
    <div class="grid-item">
      <app-owner
          label="Iny Mario"
          src="https://lh3.googleusercontent.com/proxy/5B_-NkNQz4RW3bEjgJVU81v4YTLtRSeRogPWI6Bz6BznzCkUCYeUvS1r5PIGJWOKS_aiMtf3cRb7bRS5jpZjJ8dG9mkqAof9NpBfYOfFvREat7PDlztTXBxMh1l3gdextOE">
        </app-owner>
    </div>  
    <div class="grid-item">     
      <app-owner
        label="Ina Maria"
        src="https://cdn.iconscout.com/icon/free/png-256/avatar-373-456325.png">
      </app-owner>
    </div>
  </div>
</div>