*/.idea
*/venv
*/__pycache__
/backend/app/config_dev.py

/frontend/*/*~
/frontend/*/*.sw[mnpcod]
/frontend/*/.tmp
/frontend/*/*.tmp
/frontend/*/*.tmp.*
/frontend/*/*.sublime-project
/frontend/*/*.sublime-workspace
/frontend/*/.DS_Store
/frontend/*/Thumbs.db
/frontend/*/UserInterfaceState.xcuserstate
/frontend/*/$RECYCLE.BIN/

/frontend/*/*.log
/frontend/*/log.txt
/frontend/*/npm-debug.log*

/frontend/*/.ionic
/frontend/*/.sass-cache
/frontend/*/.sourcemaps
/frontend/*/.versions
/frontend/*/.vscode
/frontend/*/coverage
/frontend/*/dist
/frontend/*/node_modules
/frontend/*/platforms
/frontend/*/plugins
/frontend/*/www
/frontend/*/e2e
/frontend/*/ios
/frontend/*/android