/backend/.idea
/backend/__pycache__
/backend/venv

/frontend/rehapp/*~
/frontend/rehapp/*.sw[mnpcod]
/frontend/rehapp/.tmp
/frontend/rehapp/*.tmp
/frontend/rehapp/*.tmp.*
/frontend/rehapp/*.sublime-project
/frontend/rehapp/*.sublime-workspace
/frontend/rehapp/.DS_Store
/frontend/rehapp/Thumbs.db
/frontend/rehapp/UserInterfaceState.xcuserstate
/frontend/rehapp/$RECYCLE.BIN/

/frontend/rehapp/*.log
/frontend/rehapp/log.txt
/frontend/rehapp/npm-debug.log*

/frontend/rehapp/.idea
/frontend/rehapp/.ionic
/frontend/rehapp/.sass-cache
/frontend/rehapp/.sourcemaps
/frontend/rehapp/.versions
/frontend/rehapp/.vscode
/frontend/rehapp/coverage
/frontend/rehapp/dist
/frontend/rehapp/node_modules
/frontend/rehapp/platforms
/frontend/rehapp/plugins
/frontend/rehapp/www
/frontend/rehapp/e2e
