.main {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 0%;
    color: var(--app-font-color-default);

    .content {
        position: relative;
        width: 90%;
        margin: 0% auto;

        h1 {
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            text-align: center;
        }

        div {
            height: 1px;
            width: 20%;
            margin: auto;
            border-bottom: 1px solid var(--app-font-color-default);
        }

        p {
            font-size: 20px;
        }
    }
}