<ion-content>
  <div class="main">
    <div class="header">
      <div class="name_div">
        <h2 class="name" [style.fontSize.px]="namesize">Vitajte {{user.name}}...</h2>
      </div>
      <h4 *ngIf="diagnoses.length > 0">...dnes Vás čakajú tieto cvičenia. Robíte to pre seba, tak to neflákajte!</h4>
      <h4 *ngIf="diagnoses.length == 0">...dnes Vás nečakajú žiadne cvičenia. Teší nás, že sa Vám podarilo eliminovať bolesť!</h4>
    </div>
    <div class="diagnoses">
      <div class="fade-wrapper">
        <div #fader_top class="fade-effect fade-top"></div>
        <div #fader_bot class="fade-effect fade-bot"></div>
        <div class="program_wrapper" (scroll)="removeFader($event)"  #wrapper>
          <div class="programs" *ngFor="let diag of diagnoses; let i=index">
            <div class="program" (click)="programSelected(i)" [ngClass]="{active:(i==selectedIndex)}">
              <div class="video_img">
                <div class="play" [ngClass]="{active_play:(i==selectedIndex)}"></div>
              </div>
              <ion-label class="program_txt" [style.fontSize.vh]="fontsize[i]" >{{diag.name}}</ion-label>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="confirm">
      <div class="btn-div">
        <ion-button (click)="begin()" *ngIf="diagnoses.length > 0" expand="block" fill="solid" shape="round" class="app-big-btn app-button-dark">
          Začať cvičenie
        </ion-button>
        <ion-button (click)="addDiagnosis()" *ngIf="diagnoses.length == 0" expand="block" fill="solid" shape="round" class="app-big-btn app-button-dark">
          Pridať diagnózu
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>