.main {
    position: relative;
    height: 95%;
    background-color: var(--light);
    width: 95%;
    margin: auto;

    .header {
        color: var(--dark);
        width: 90%;
        margin: auto;

        .name_div {
            h2 {
                font-size: xx-large;
                font-weight: bold;
                padding-left: 2%;
            }
        }
    }

    .diagnoses {
        .fade-wrapper {
            position: absolute;
            height: 60%;
            width: 100%;

            .program_wrapper {
                height: 100%;
                overflow: scroll;

                .programs {
                    height: 35%;
                    margin-bottom: 2%;

                    .program {
                        border-radius: 15px;
                        background-color: var(--gray);
                        height: 100%;
                        position: relative;

                        .video_img {
                            background-color: #e5e5e5;
                            height: 80%;
                            width: 37%;
                            border-radius: 15px;
                            top: 50%;
                            transform: translate(10%, -50%);
                            position: absolute;

                            .play {
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 2vh 0 2vh 5vw;
                                border-color: transparent transparent transparent var(--gray);
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                position: absolute;
                            }

                            .active_play {
                                border-color: transparent transparent transparent var(--blue);
                            }
                        }
                        .program_txt {
                            position: absolute;
                            font-size: x-large;
                            width: 50%;
                            color: var(--light);
                            transform: translate(40vw, 10%);
                        }
                    }

                    .active {
                        background-color: var(--blue) !important;
                    }
                }
            }
        }
    }

    .confirm {
        position: absolute;
        bottom: 0%;
        left: 7%;
        right: 7%;

        .btn-div {
            height: 2.5em;
        }
    }
}