#header {
    ion-toolbar {
        --background: var(--app-background);

        ion-button {
            --color: var(--dark)
        }
    }
}


ion-content {
    --background: var(--app-background);
    --color: var(--app-font-color);
}

.main {
    width: 90%;
    margin: auto;
    text-align: center;

    .logo {
        position: fixed;
        width: 50px;
        top: 2%;
        left: 50%;
        transform: translate(-50%, 0%);
        z-index: 90;
    }

    .form-inputs {
        position: absolute;
        top: 25%;
        left: 7%;
        right: 7%;

        .item_div {
            padding-bottom: 3%;
        
            .highlight-dark {
                border-bottom: 2px solid var(--dark);
            }
            .highlight-blue {
                border-bottom: 2px solid var(--blue);
            }
            .highlight-gray {
                border-bottom: 2px solid var(--gray);
            }

            >ion-item {
                --background: "transparent";
                --color: var(--dark);
                border: none;

                >ion-input {
                    font-family: poppins;
                }

                .eye {
                    height: 100%;
                    margin: 0%;
    
                    >ion-icon {
                        height: 100%; 
                        color: var(--dark);
                    }
                }
            }
        
            .item-txt {
                color: #8F8F8F;
                text-align: right;
                margin-top: 2%;
            }
        }
    }
    
    .form-buttons {
        position: absolute;
        bottom: 2%;
        left: 7%;
        right: 7%;

        .btn-div {
            height: 6vh;
        }
    }
}
