<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Diagnostický nástroj
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Toto je diagnostický nástroj</h1>

<ion-text color="danger" *ngFor="let q of observables | async; let i = index">
  <b>Otázka č.{{i+1}}: {{q.question | uppercase}} <br></b>
</ion-text>

 
<br />
<ion-button (click)="start()" fill="solid" shape="round">
  Spustiť
</ion-button>
<br />

<app-question *ngIf="type == 'Question'" [question]="questionForChild" (onAnswer)="childAnswered($event)"></app-question>
<app-diagnose *ngIf="type == 'Diagnose'" [diagnose]="textForChild"></app-diagnose>


</ion-content>