<ion-content>

<div id="componentDiv">
  <app-question *ngIf="stateService.actualTreeComponent.getValue() && stateService.actualTreeComponent.getValue().type == 'question'" [question]="stateService.actualTreeComponent.getValue()" (onAnswer)="childAnswered($event)" (onBack)="back()"></app-question>
  <app-diagnose *ngIf="stateService.actualTreeComponent.getValue() && stateService.actualTreeComponent.getValue().type == 'diagnose'" [diagnose]="stateService.actualTreeComponent.getValue()" (onBack)="back()"></app-diagnose>
</div>


</ion-content>