.main {
    width: 90%;
    margin: auto;
    text-align: center;

    .text_div {
        color: var(--dark);
        h5 {
            margin-bottom: 0;
        }
    }

    .left {
        text-align: left;
        margin-top: 5%;
    }

    .item_div {
        padding-bottom: 3%;

        .highlight-dark {
            border-bottom: 2px solid var(--dark);
        }
        .highlight-blue {
            border-bottom: 2px solid var(--blue);
        }
        .highlight-gray {
            border-bottom: 2px solid var(--gray);
        }

        > ion-item {
            --background: "transparent";
            --color: var(--dark);
            border: none;

            > ion-input {
                font-family: poppins;
            }
        }
    }

    .radio-group {
        display: inline-block;
        width: 100%;
        margin: 10% 0%;

        .radio-opt {
            float: left;
            width: 33%;
            display: block;

            .radio {
                --background: transparent;
                --color: var(--dark);
                border: none;

                div {
                    text-align: center;
                    width: 100%;
                }

                ion-radio {
                    --color: var(--gray);
                    --color-checked: var(--blue);
                    --border-width: 12px;
                    width: 1.5em;
                    height: 1.5em;
                    margin-left: 50%;
                    transform: translate(-50%, 0%);
                }
            }
        }
    }

    .date-picker {
        margin-top: 10%;
        --background: transparent;
        --color: var(--dark);

    }
    
    .buttonDiv {
        position: absolute;
        bottom: 2%;
        width: 90%;
    }
}

::ng-deep .picker-wrapper {
    background: var(--gray) !important;
    color: var(--dark);
}