<ion-content>

  <div class="main">
    <div class="text_div">
      <h5>Pre dokončene registrácie prosím zadajte svoje...</h5>
    </div>
    <div class="text_div left">
      <h5>...meno</h5>
    </div>

    <div class="item_div">
      <ion-item class="input_item" lines="none" [ngClass]="nameHighlighter">
        <ion-input 
          [(ngModel)]="name" 
          (ionFocus)="nameHighlighter = setHighlight('focus')" 
          (ionBlur)="nameHighlighter = setHighlight('blur')" 
          maxlength=40
          autofocus="true"
          required="true"
          ></ion-input>
      </ion-item>
    </div>

    <div class="text_div left">
      <h5>...pohlavie</h5>
    </div>

    <ion-radio-group (ionChange)="valueSelected($event, 'sex')">
      <div class="radio-group">
        <div class="radio-opt">
          <ion-item class="radio" lines="none">
            <div>
              <ion-radio value="male"></ion-radio>
              <ion-label>Muž</ion-label>
            </div>
          </ion-item>
        </div>
        <div class="radio-opt">
          <ion-item class="radio" lines="none">
            <div>
              <ion-radio value="female"></ion-radio>
              <ion-label>Žena</ion-label>
            </div>
          </ion-item>
        </div>
        <div class="radio-opt">
          <ion-item class="radio" lines="none">
            <div>
              <ion-radio value="other" mark></ion-radio>
              <ion-label>Yeti</ion-label>
            </div>
          </ion-item>
        </div>
      </div> 
    </ion-radio-group> 

    <div class="text_div left">
      <h5>...a dátum narodenia</h5>
    </div>
    <ion-item class="date-picker">
      <ion-label>Vyberte dátum</ion-label>
      <ion-datetime 
        displayFormat="DD MMMM YYYY" 
        placeholder="Vyberte dátum" 
        cancelText='Zrušiť'
        doneText='Potvrdiť'
        [monthNames]="months"
        (ionChange)="valueSelected($event, 'date')"></ion-datetime
      >
    </ion-item>
    
    <div class="buttonDiv">
      <ion-button (click)="createUser()" expand="block" fill="solid" shape="round" strong class="app-button-dark">
        Potvrdiť
      </ion-button>
    </div>

  </div>
</ion-content>