<ion-header id="header" class="ion-no-border" [style.background]="headerColor">
  <ion-toolbar>
    <ion-button (click)="back()" slot="start" fill="clear">
      <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      Späť
    </ion-button>
    <ion-button (click)="redirect()" slot="end" fill="clear">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

<div id="componentDiv">
  <app-question *ngIf="stateService.actualTreeComponent.getValue() && stateService.actualTreeComponent.getValue().type == 'question'" [question]="stateService.actualTreeComponent.getValue()" (onAnswer)="childAnswered($event)" (onBack)="back()"></app-question>
  <app-diagnose *ngIf="stateService.actualTreeComponent.getValue() && stateService.actualTreeComponent.getValue().type == 'diagnose'" [diagnose]="stateService.actualTreeComponent.getValue()" (onBack)="back()"></app-diagnose>
</div>


</ion-content>