.main {
    position: absolute;
    height: 60%;
    overflow-y: scroll;
    width: 100%;
    top: 10%;
    left: 0%;
    color: var(--app-font-color-default);

    h3 {
        margin-top: 5%;
    }

    .line {
        text-align: center;
        height: 1px;
        width: 20%;
        margin: 5% auto;
        border-bottom: 1px solid var(--app-font-color-default);
    }

    p {
        font-size: 20px;
    }
}