<ion-header id="header" class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="back()" slot="start" fill="clear">
      <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      Späť
    </ion-button>
  </ion-toolbar>
</ion-header>

<div id="content">
  <div id="main">
    <h1 [style.fontSize.%]="h1Size">{{diagnose.name | uppercase}}</h1>

    <div id="options">
      <div #fader_top class="fade-effect fade-top"></div>
      <div #fader_bot class="fade-effect fade-bot"></div>
      <div (scroll)="removeFader($event)" class="scrollable">
        <ion-item button (click)="setArea('def')" class="item-text" lines="none"
        [ngClass]="area == 'def' ? 'border-red' : 'border-blue'">
          <ion-label>
            Definícia
          </ion-label>
          <ion-icon *ngIf="area != 'def'" name="chevron-down-outline" slot="end"></ion-icon>
          <ion-icon *ngIf="area == 'def'" name="chevron-up-outline" slot="end"></ion-icon>
        </ion-item>
        <p *ngIf="area == 'def'">
          <!-- {{diagnose.definition}} -->
          Ide o myofasciálnu bolesť, ktorá je spôsobená svalovým
          preťažením následkom stresu, nesprávneho preťažovania svalu nevhodným cvičením, zlými
          pohybovými návykmi, key prirodzenou reakciou svalu je že dochádza k jeho trvalej
          kontrakcii, ak je daná kontrakcia chronická vznikajú svalové spazmy až tzv. trigger pointy –
          bolestivé body, ktoré následne dráždia jednotlivé drobné nervové zakončenia, čím spôsobujú
          rôzne vyžarovanie bolesti do končaín, hlavy, tváre, svalovú slabosť, až neurologické príznaky
          a imitujú tak iné príčiny bolesti hlavy, či iné syndrómy.
        </p>

        <ion-item button (click)="setArea('symptom')" class="item-text" lines="none"
        [ngClass]="area == 'symptom' ? 'border-red' : 'border-blue'">
          <ion-label>
            Príznaky
          </ion-label>
          <ion-icon *ngIf="area != 'symptom'" name="chevron-down-outline" slot="end"></ion-icon>
          <ion-icon *ngIf="area == 'symptom'" name="chevron-up-outline" slot="end"></ion-icon>
        </ion-item>
        <p *ngIf="area == 'symptom'">
          Svalová stuhnutosť, obmedzená hybnosť v krčnej chrbtici, palpačné bolestivosť
          stuhnutých svalov, prítomnosť spazmov, bolestivých bodov, vyžarovanie bolesti do rúk,
          hlavy, ucha, oka, sánky, čela. Bolesti sa zhoršujú vplyvom stresu, nesprávnym pohybom a
          preťažovaním
        </p>

        <ion-item button (click)="setArea('cause')" class="item-text" lines="none"
        [ngClass]="area == 'cause' ? 'border-red' : 'border-blue'">
          <ion-label>
            Príčiny
          </ion-label>
          <ion-icon *ngIf="area != 'cause'" name="chevron-down-outline" slot="end"></ion-icon>
          <ion-icon *ngIf="area == 'cause'" name="chevron-up-outline" slot="end"></ion-icon>
        </ion-item>
        <p *ngIf="area == 'cause'">
          stres, nervozita, nesprávne zaťažovanie nevhodnou technikou cvičenia, kancelárska
          práca
        </p>

        <ion-item button (click)="setArea('diagnostic')" class="item-text" lines="none"
        [ngClass]="area == 'diagnostic' ? 'border-red' : 'border-blue'">
          <ion-label>
            Diagnostika
          </ion-label>
          <ion-icon *ngIf="area != 'diagnostic'" name="chevron-down-outline" slot="end"></ion-icon>
          <ion-icon *ngIf="area == 'diagnostic'" name="chevron-up-outline" slot="end"></ion-icon>
        </ion-item>
        <p *ngIf="area == 'diagnostic'">
          anamnéza, typické príznaky, rehabilitačné vyšetrenie, neruologické vyšetrenie
        </p>

        <ion-item button (click)="setArea('cure')" class="item-text" lines="none"
          [ngClass]="area == 'cure' ? 'border-red' : 'border-blue'">
          <ion-label>
            Liečba
          </ion-label>
          <ion-icon *ngIf="area != 'cure'" name="chevron-down-outline" slot="end"></ion-icon>
          <ion-icon *ngIf="area == 'cure'" name="chevron-up-outline" slot="end"></ion-icon>
        </ion-item>
        <p *ngIf="area == 'cure'">
          vyhýbať sa stresu, správne cvičenie, rehabilitácia, uvoľnovacie techniky, masáže,
          akupunktúra, lávové kamene, suché teplo, nahrievanie biolampou
        </p>

        <ion-item button (click)="setArea('prevention')" class="item-text" lines="none"
        [ngClass]="area == 'prevention' ? 'border-red' : 'border-blue'">
          <ion-label>
            Prevencia
          </ion-label>
          <ion-icon *ngIf="area != 'prevention'" name="chevron-down-outline" slot="end"></ion-icon>
          <ion-icon *ngIf="area == 'prevention'" name="chevron-up-outline" slot="end"></ion-icon>
        </ion-item>
        <p *ngIf="area == 'prevention'">
          vyhýbať sa vyvolávajúcim faktorom, preventívne rehabilitovať, praktizovať
          uvoľňovacie techniky
        </p>
      </div>
    </div>

    <div class="bottom">
      <ion-button (click)="redirect()" expand="block" fill="solid" shape="round" class="app-button-dark" size="large">
        Pokračovať
      </ion-button>
    </div>

  </div>
</div>