<div id="content">
  <div id="main">
    <h1 [style.fontSize.%]="h1Size">{{diagnose.name | uppercase}}</h1>

    <div id="options">
      <div #fader_top class="fade-effect fade-top"></div>
      <div #fader_bot class="fade-effect fade-bot"></div>
      <div (scroll)="removeFader($event)" class="scrollable">
        <ion-item button (click)="setArea('def')" class="item-text" lines="none"
        [ngClass]="area == 'def' ? 'border-red' : 'border-blue'">
          <ion-label>
            Definícia
          </ion-label>
          <ion-icon *ngIf="area != 'def'" name="chevron-down-outline" slot="end"></ion-icon>
          <ion-icon *ngIf="area == 'def'" name="chevron-up-outline" slot="end"></ion-icon>
        </ion-item>
        <p *ngIf="area == 'def'">
          {{diagnose.definition}}
        </p>

        <ion-item button (click)="setArea('symptom')" class="item-text" lines="none"
        [ngClass]="area == 'symptom' ? 'border-red' : 'border-blue'">
          <ion-label>
            Príznaky
          </ion-label>
          <ion-icon *ngIf="area != 'symptom'" name="chevron-down-outline" slot="end"></ion-icon>
          <ion-icon *ngIf="area == 'symptom'" name="chevron-up-outline" slot="end"></ion-icon>
        </ion-item>
        <p *ngIf="area == 'symptom'">
          {{diagnose.symptoms}}
        </p>

        <ion-item button (click)="setArea('cause')" class="item-text" lines="none"
        [ngClass]="area == 'cause' ? 'border-red' : 'border-blue'">
          <ion-label>
            Príčiny
          </ion-label>
          <ion-icon *ngIf="area != 'cause'" name="chevron-down-outline" slot="end"></ion-icon>
          <ion-icon *ngIf="area == 'cause'" name="chevron-up-outline" slot="end"></ion-icon>
        </ion-item>
        <p *ngIf="area == 'cause'">
          {{diagnose.cause}}
        </p>

        <ion-item button (click)="setArea('diagnostic')" class="item-text" lines="none"
        [ngClass]="area == 'diagnostic' ? 'border-red' : 'border-blue'">
          <ion-label>
            Diagnostika
          </ion-label>
          <ion-icon *ngIf="area != 'diagnostic'" name="chevron-down-outline" slot="end"></ion-icon>
          <ion-icon *ngIf="area == 'diagnostic'" name="chevron-up-outline" slot="end"></ion-icon>
        </ion-item>
        <p *ngIf="area == 'diagnostic'">
          {{diagnose.diagnostic}}
        </p>

        <ion-item button (click)="setArea('cure')" class="item-text" lines="none"
          [ngClass]="area == 'cure' ? 'border-red' : 'border-blue'">
          <ion-label>
            Liečba
          </ion-label>
          <ion-icon *ngIf="area != 'cure'" name="chevron-down-outline" slot="end"></ion-icon>
          <ion-icon *ngIf="area == 'cure'" name="chevron-up-outline" slot="end"></ion-icon>
        </ion-item>
        <p *ngIf="area == 'cure'">
          {{diagnose.cure}}
        </p>

        <ion-item button (click)="setArea('prevention')" class="item-text" lines="none"
        [ngClass]="area == 'prevention' ? 'border-red' : 'border-blue'">
          <ion-label>
            Prevencia
          </ion-label>
          <ion-icon *ngIf="area != 'prevention'" name="chevron-down-outline" slot="end"></ion-icon>
          <ion-icon *ngIf="area == 'prevention'" name="chevron-up-outline" slot="end"></ion-icon>
        </ion-item>
        <p *ngIf="area == 'prevention'">
          {{diagnose.prevention}}
        </p>
      </div>
    </div>

    <div *ngIf="showContinueBtn == true" class="bottom">
      <ion-button (click)="continue()" expand="block" fill="solid" shape="round" class="app-button-dark" size="large">
        Pokračovať
      </ion-button>
    </div>

  </div>
</div>