<ion-header id="header" class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="back()" slot="start" fill="clear">
      <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      Späť
    </ion-button>
  </ion-toolbar>
</ion-header>

<div #cont id="content">
  <div #main id="main">
    <h1>{{diagnose.name | uppercase}}</h1>
    <p>{{diagnose.text}}</p>

    <p>
      Bližšie informácie o Vašej diagnóze, jej príznakoch a spôsobe liečby budú doplnené v neskorších verziách tejto aplikácie.
    
    <br><br>
    
    <b>Ďakujeme Vám, že sa podieľate na jej testovaní.</b>
  </p>

    <img src="assets/images/loading.gif" />


    <div class="bottom">
      <ion-button (click)="redirect()" expand="block" fill="solid" shape="round" class="app-button-dark">
        Návrat na výber bolestivej oblasti
      </ion-button>
    </div>

    <!-- <div class="right">
      <ion-button (click)="setArea('def')" class="area-btn"  fill="solid" shape="round">
        <b class="btn-text">Definícia</b>
      </ion-button>
      <div *ngIf="this.area == 'def'" class="notyet">
        <b>Bližšie informácie o Vašej diagnóze budú doplnené v neskorších verziách tejto aplikácie.</b>
        <br><br>
        <b>Ďakujeme Vám, že sa podieľate na jej testovaní.</b>
      </div>
    </div>
    
    <div class="right">
      <ion-button (click)="setArea('sympt')" class="area-btn"  fill="solid" shape="round">
        <b class="btn-text">Príznaky</b>
      </ion-button>
      <div *ngIf="this.area == 'sympt'" class="notyet">
        <b>Bližšie informácie o symptómoch, ktoré sprevádzajú Vašu diagnózu budú doplnené v neskorších verziách tejto aplikácie.</b>
        <br><br>
        <b>Ďakujeme Vám, že sa podieľate na jej testovaní.</b>
      </div>
    </div>

    <div class="right">
      <ion-button (click)="setArea('cause')" class="area-btn"  fill="solid" shape="round">
        <b class="btn-text">Príčiny</b>
      </ion-button>
      <div *ngIf="this.area == 'cause'" class="notyet">
        <b>Bližšie informácie o príčinách, ktoré spôsobujú Vašu diagnózu budú doplnené v neskorších verziách tejto aplikácie.</b>
        <br><br>
        <b>Ďakujeme Vám, že sa podieľate na jej testovaní.</b>
      </div>
    </div>

    <div class="right">
      <ion-button (click)="setArea('diag')" class="area-btn"  fill="solid" shape="round">
        <b class="btn-text">Diagnostika</b>
      </ion-button>
      <div *ngIf="this.area == 'diag'" class="notyet">
        <b>Bližšie informácie o možnej diagnostike Vašej diagnózy budú doplnené v neskorších verziách tejto aplikácie.</b>
        <br><br>
        <b>Ďakujeme Vám, že sa podieľate na jej testovaní.</b>
      </div>
    </div>

    <div class="right">
      <ion-button (click)="setArea('cure')" class="area-btn"  fill="solid" shape="round">
        <b class="btn-text">Liečba</b>
      </ion-button>
      <div *ngIf="this.area == 'cure'" class="notyet">
        <b>Bližšie informácie o spôsobe liečenia Vašej diagnózy budú doplnené v neskorších verziách tejto aplikácie.</b>
        <br><br>
        <b>Ďakujeme Vám, že sa podieľate na jej testovaní.</b>
      </div>
    </div>

    <div class="right">
      <ion-button (click)="setArea('prevent')" class="area-btn"  fill="solid" shape="round">
        <b class="btn-text">Prevencia</b>
      </ion-button>
      <div *ngIf="this.area == 'prevent'" class="notyet">
        <b>Bližšie informácie o prevencii voči Vašej diagnóze budú doplnené v neskorších verziách tejto aplikácie.</b>
        <br><br>
        <b>Ďakujeme Vám, že sa podieľate na jej testovaní.</b>
      </div>
    </div> -->
  </div>
</div>