#header {
    ion-toolbar {
        --background: transparent;
        ion-button {
            --color: var(--dark)
        }
    }
}

#content {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding-top: 15%;
    background-color: var(--light);

    #main {
        height: 85%;
        width: 90%;
        margin: auto;

        p{
            font-size: 1em !important;
        }

        h1 {
            margin-top: 5%;
            margin-bottom: 10%;
            font-weight: bold;
        }

        .right {
            // text-align: right;
            text-align: left;
        }

        .area-btn {
            margin-left: -10%;
            --background: var(--blue);
            --color: var(--dark);

            .btn-text {
                padding-left: 10px;
            }
        }

        .notyet {
            padding-left: 5%;
            text-align: left;
        }

        img {
            width: 60%;
            margin: auto;
            display: block;
        }

        .bottom {
            position: absolute;
            display: block;
            width: 90%;
            bottom: 5%;

            ion-button {
                // font-size: 1em;
                display: table;
                width: 100%;

                --padding-top: 0.6em !important;
                --padding-bottom: 0.6em !important;
            }
        }
    }
}