#header {
    ion-toolbar {
        --background: transparent;
        ion-button {
            --color: var(--dark)
        }
    }
}

#cont {
    position: absolute;
    top: 0;
    height: 100%;
    padding-top: 15%;
    background-color: var(--light);

    #main {
        height: 85%;
        width: 90%;
        margin: auto;

        h1 {
            margin: 20% 0%;
            font-weight: bold;
        }

    }
}