<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Diagnostický nástroj
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Toto je diagnostický nástroj</h1>

<ion-text color="danger" *ngFor="let q of questions; let i = index">
  <b>Otázka č.{{i+1}}: {{q.question}} <br></b>
</ion-text>


<!-- <div style="display: block;">
  <ion-button (click)="yesnoClick()" fill="clear" shape="round">
    YesNo
  </ion-button>
  <ion-button (click)="multiOptClick()" fill="clear" shape="round">
    MultiOpt
  </ion-button>
  <ion-button (click)="diagnoseClick()" fill="clear" shape="round">
    Diagnose
  </ion-button>
</div> -->
<br />
<ion-button (click)="yesnoClick()" fill="solid" shape="round">
  Spustiť
</ion-button>
<br />

<yesno *ngIf="type == 'YesNo'" [question]="questionForChild" (onAnswer)="childAnswered($event)"></yesno>
<multi-opt *ngIf="type == 'MultiOpt'"></multi-opt>
<diagnose *ngIf="type == 'Diagnose'" [text]="textForChild"></diagnose>
<div *ngIf="type == ''">
  Prazdne divko
</div>


</ion-content>
