:root {
    --dark:#012C3D;
    --light:#F6F1EE;
    --app-background: var(--light);
    --app-font-color-default: var(--dark);  
}

ion-content {
    --background: var(--app-background);
    --color: var(--app-font-color-default);
}

ion-header {
    ion-toolbar {
        --background: var(--app-background);
        --color: var(--app-font-color-default);
        text-align: center;
        text-transform: uppercase;
    }
}