#header {
    ion-toolbar {
        --background: var(--app-background);

        ion-button {
            --color: var(--dark);
        }
    }
}

ion-content {
    --background: var(--app-background);
    --color: var(--app-font-color);
}

.main {
    width: 90%;
    margin: auto;
    text-align: center;

    .logo {
        position: fixed;
        width: 50px;
        top: 2%;
        left: 50%;
        transform: translate(-50%, 0%);
        z-index: 90;
    }

    .form-inputs {
        position: absolute;
        top: 25%;
        left: 7%;
        right: 7%;

        .item_div {
            padding-bottom: 3%;

            .highlight-dark {
                border-bottom: 2px solid var(--dark);
            }
            .highlight-gray {
                border-bottom: 2px solid var(--gray);
            }
            .highlight-red {
                border-bottom: 2px solid var(--red);
            }
            .highlight-blue {
                border-bottom: 2px solid var(--blue);
            }

            > ion-item {
                --background: "transparent";
                --color: var(--dark);

                > ion-checkbox {
                    --background-checked: var(--light);
                    --border-color-checked: var(--dark);
                    --checkmark-color: var(--dark);
                    margin-right: 2%;
                }

                .terms {
                    white-space: normal;
                    text-align: center;
                }
            }
        }
    }

    .form-buttons {
        position: absolute;
        bottom: 2%;
        left: 7%;
        right: 7%;

        .btn-div {
            height: 6vh;
        }
    }
}

.error_msg {
    color: var(--dark);
    font-size: small;
    text-align: left;
    padding-left: 15px;
}
