<ion-header id="header" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Späť" icon="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="main">
    <div class="logo">
      <img class="inside_img" src="assets/images/logo.svg">
    </div>
  
    <div class="form-inputs">
      <form [formGroup]="regForm" (ngSubmit)="submit()">
      
        <div class="item_div">
          <ion-item class="input_item" lines="none" 
            [ngClass]="{
              'highlight-blue' : emailFocused,
              'highlight-gray' : email.untouched,
              'highlight-red' : email.touched && email.invalid,
              'highlight-dark' : email.touched && email.valid
            }">
            <ion-input formControlName="email"
              inputmode="email" 
              placeholder="Zadajte e-mail"
              (ionFocus)="emailFocused = true"
              (ionBlur)="emailFocused = false"
              maxlength=40
              autofocus
              ></ion-input>
          </ion-item>
        </div>
        
        <div class="item_div">
          <ion-item class="input_item" lines="none" 
            [ngClass]="{
              'highlight-blue' : passFocused,
              'highlight-gray' : password.untouched,
              'highlight-red' : password.touched && password.invalid,
              'highlight-dark' : password.touched && password.valid
            }">
            <ion-input 
              formControlName="password" 
              type="password" 
              clearOnEdit="false"
              placeholder="Zadajte heslo"
              (ionFocus)="passFocused = true"
              (ionBlur)="passFocused = false"
              maxlength=40
              ></ion-input>
          </ion-item>
        </div>
        
        <div class="item_div">
          <ion-item class="input_item" lines="none" 
            [ngClass]="{
              'highlight-blue' : repFocused,
              'highlight-gray' : password.untouched,
              'highlight-red' : password.touched && password.value !== repPass.value,
              'highlight-dark' : password.touched && password.value === repPass.value
            }">
            <ion-input 
                formControlName="reppassword" 
                type="password" 
                clearOnEdit="false"
                placeholder="Zopakujte heslo"
                (ionFocus)="repFocused = true" 
                (ionBlur)="repFocused = false"
                maxlength=40
              ></ion-input>
          </ion-item>
        </div>
        <p *ngIf="email.invalid && email.touched" class="error_msg">
          Neplatná emailová adresa
        </p>
        <p *ngIf="password.invalid" class="error_msg">
          Heslo musí byť dlhé aspoň 8 znakov a musí obsahovať aspoň 1 malé a veľké písmeno a číslo.
        </p>
        <p *ngIf="password.value !== repPass.value" class="error_msg">
          Heslá sa nezhodujú
        </p>

      </form>
    </div>
      
    <div class="form-buttons">
      <div class="btn-div">
        <ion-button (click)="createUser()" expand="block" [fill]="regForm.valid ? 'solid' : 'outline'" shape="round" class="app-big-btn" [ngClass]="regForm.valid ? 'app-button-dark' : 'app-button-light'">
          Registrovať sa
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>