<ion-header id="header" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Späť" icon="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="main">
    <div class="logo">
      <img class="inside_img" src="assets/images/logo.svg">
    </div>
  
    <div class="form-inputs">
      <form [formGroup]="regForm" (ngSubmit)="submit()">
      
        <div class="item_div">
          <ion-item class="input_item" lines="none" [ngClass]="emailHighlighter">
            <ion-input formControlName="email" 
                inputmode="email" 
                placeholder="Zadajte e-mail"
                (ionFocus)="emailHighlighter = setHighlight('focus')" 
                (ionBlur)="emailHighlighter = setHighlight('blur')"
              ></ion-input>
          </ion-item>
        </div>
        
        <div class="item_div">
          <ion-item class="input_item" lines="none" [ngClass]="passHighlighter">
            <ion-input 
                formControlName="password" 
                type="password" 
                placeholder="Zadajte heslo"
                (ionFocus)="passHighlighter = setHighlight('focus')" 
                (ionBlur)="passHighlighter = setHighlight('blur')"
              ></ion-input>
          </ion-item>
        </div>
        
        <div class="item_div">
          <ion-item class="input_item" lines="none" [ngClass]="repeatPassHighlighter">
            <ion-input 
                formControlName="reppassword" 
                type="password" 
                placeholder="Zopakujte heslo"
                (ionFocus)="repeatPassHighlighter = setHighlight('focus')" 
                (ionBlur)="repeatPassHighlighter = setHighlight('blur')"
              ></ion-input>
          </ion-item>
        </div>

        <div class="item_div">
          <ion-item lines="none">
            <ion-checkbox formControlName="termsOfUse"></ion-checkbox>
            <ion-label class="terms">
              Týmto potvrdzujem, že som si prečítal/a podmienky používania 
            </ion-label>
          </ion-item>
        </div>
      </form>
    </div>
      
    <div class="form-buttons">
      <div class="btn-div">
        <ion-button (click)="createUser()" expand="block" [fill]="regForm.valid ? 'solid' : 'outline'" shape="round" class="app-big-btn" [ngClass]="regForm.valid ? 'app-button-dark' : 'app-button-light'">
          Registrovať sa
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>