#cont {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding-top: 15%;

    #main {
        height: 85%;
        width: 90%;
        margin: auto;

        h1 {
            margin: 10% 0%;
            font-weight: bold;
        }

        #btnDiv {
            position: absolute;
            bottom: 5%;
            width: 70%;
            left: 50%;
            transform: translate(-50%);

            .buttons {
                position: relative;

                ion-button {
                    // font-size: 1em;
                    display: table;
                    width: 100%;

                    --padding-top: 0.6em !important;
                    --padding-bottom: 0.6em !important;
                }
            }
        }
    }
}

.prepend {
    font-size: 1.8em;
}

.question {
    font-size: 1.3em;
}