#body {
    margin: auto;
    display: block;
    height: 100%;
  
    .st0 {
      fill: none;
    }
    
    .st1 {
      fill: #F6F1EE;
    }
    
    .st2 {
      fill: #012C3D;
    }
    
    .st3 {
      fill: none;
      stroke: #012C3D;
      stroke-width: 0;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
    
    .st4 {
      fill: #345664;
    }
    
    .st5 {
      fill: none;
      stroke: #345664;
      stroke-width: 0;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
    
    .st6 {
      fill: #67808B;
    }
    
    .st7 {
      fill: none;
      stroke: #67808B;
      stroke-width: 0;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
    
    .st8 {
      fill: #99ABB1;
    }
    
    .st9 {
      fill: none;
      stroke: #99ABB1;
      stroke-width: 0;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
    
    .st10 {
      fill: #8ABEC4;
    }
    
    .st11 {
      fill: none;
      stroke: #8ABEC4;
      stroke-width: 0;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
    
    .st12 {
      fill: #A1CBD0;
    }
    
    .st13 {
      fill: none;
      stroke: #A1CBD0;
      stroke-width: 0;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
    
    .st14 {
      fill: #C0C6C7;
    }
    
    .st15 {
      fill: none;
      stroke: #C0C6C7;
      stroke-width: 0;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
    
    .st16 {
      fill: none;
      stroke: #F6F1EE;
      stroke-width: 0;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
    
    .st17 {
      opacity: 0;
      fill: #F8444F;
    }
    
    .st18 {
      opacity: 0;
    }
    
    .st19 {
      fill: #F8444F;
    }
    
    .st20 {
      opacity: 0;
      fill: #F6F1EE;
    }
    
    .st21 {
      opacity: 0.74;
      fill: #C0C6C7;
    }
  }
  
  #backBody {
    margin: auto;
    display: none;
    height: 100%;
  
    .st0{fill:none;}
      .st1{fill:#F6F1EE;}
      .st2{fill:#012C3D;}
      .st3{fill:#345664;}
      .st4{fill:#67808B;}
      .st5{fill:#99ABB1;}
      .st6{fill:#8ABEC4;}
      .st7{fill:#A1CBD0;}
      .st8{fill:#C0C6C7;}
      .st9{fill:#FFFFFF;}
      .st10{opacity:0;fill:#F8444F;}
      .st11{opacity:0;fill:#A1CBD0;}
      .st12{opacity:0;fill:#FFFFFF;}
      .st13{opacity:0;}
      .st14{fill:#F8444F;}
      .st15{opacity:0.74;fill:#C0C6C7;}
  }