<ion-content>

  <div class="main">
    <div class="heading">
      <h1 #h>Prihlásenie</h1>
    </div>
  
    <div class="input_div">
      <ion-item class="input_item">
        <ion-label position="floating">Meno alebo emailová adresa</ion-label>
        <ion-input #username></ion-input>
      </ion-item>
    </div>
  
    <div class="input_div">
      <ion-item class="input_item">
        <ion-label position="floating">Heslo</ion-label>
        <ion-input #pass type="password"></ion-input>
      </ion-item>
    </div>
  
    <div class="login_btn">
      <ion-button (click)="login()" expand="block" fill="solid" shape="round" strong>
        Prihlásiť sa
      </ion-button>
    </div>
  
    <p>Nemáte vytvorený účet? Kliknite pre <u [routerLink]="['/registration']">registráciu</u>.</p>
  </div>
</ion-content>
