<ion-content>
  <div id="header">
    <ion-button *ngIf="areaSubmitted" (click)="back()" slot="start" fill="clear" style="--color: var(--dark)">
      <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!areaSubmitted" (click)="refresh()" slot="start" fill="clear" style="--color: var(--dark)">
      <ion-icon name="refresh-outline"></ion-icon>
    </ion-button>
    <p *ngIf="!areaSelected" style="margin-left: -10%;">
      Vyberte bolestivú oblasť
    </p>
    <p *ngIf="areaSelected && this.stateService.actualTreeComponent.getValue().type=='area'" style="margin-left: -10%;">
      {{this.stateService.actualTreeComponent.getValue().tree.text}}
    </p>
  </div>

  <div id="body-wrapper" #bodyWrapper>
    <app-body #bodyComponent></app-body>
  </div>  

  <div id="buttons-wrapper">
    <div #fader_top class="fade-effect fade-top"></div>
    <div #fader_bot class="fade-effect fade-bot"></div>
    <div id="buttons" #buttons (scroll)="removeFader($event)">
      <app-radiolist [options]="options" (onOptionSelected)="showSubpart($event)" [(actualBtn)]="actualSubareaBtn"></app-radiolist>
    </div>
  </div>
  

  <ion-grid id="main-grid">
    <ion-row id="rotate-row" [ngStyle]="{'height':rotateRowHeight}">
      <app-toggle #toggleComponent></app-toggle>
    </ion-row>
    <ion-row id="continue-row">
      <ion-col>
        <div [ngClass]="{
          'not-selected': !(areaSelected || subareaSelected),
          'selected': areaSelected || subareaSelected
        }" class="custom-btn" (click)="(areaSelected || subareaSelected) && submit()" #continueBtn>
          POKRAČOVAŤ
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>