<ion-header id="header" class="ion-no-border">
  <ion-button (click)="back()" slot="start" fill="clear" class="icon left">
    <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
    <p *ngIf="!areaSubmitted && !areaSelected">Späť</p>
  </ion-button>
  <p *ngIf="!areaSelected" class="title">
    Vyberte bolestivú oblasť
  </p>
  <p *ngIf="areaSelected && this.stateService.actualTreeComponent.getValue().type=='area'" class="title">
    {{this.stateService.actualTreeComponent.getValue().tree.text}}
  </p>
  <ion-button *ngIf="!areaSubmitted" (click)="refresh()" slot="end" fill="clear" class="icon right">
    <ion-icon name="refresh-outline"></ion-icon>
  </ion-button>
</ion-header>

<ion-content>
  <div id="body-wrapper" #bodyWrapper>
    <app-body #bodyComponent></app-body>
  </div>  

  <div id="buttons-wrapper">
    <div #fader_top class="fade-effect fade-top"></div>
    <div #fader_bot class="fade-effect fade-bot"></div>
    <div id="buttons" #buttons (scroll)="removeFader($event)">
      <app-radiolist [options]="options" (onOptionSelected)="showSubpart($event)" [(actualBtn)]="actualSubareaBtn"></app-radiolist>
    </div>
  </div>
  

  <ion-grid id="main-grid">
    <ion-row id="rotate-row" [ngStyle]="{'height':rotateRowHeight}">
      <app-toggle #toggleComponent></app-toggle>
    </ion-row>
    <ion-row id="continue-row">
      <ion-col>
        <div [ngClass]="{
          'not-selected': !(areaSelected || subareaSelected),
          'selected': areaSelected || subareaSelected
        }" class="custom-btn" (click)="(areaSelected || subareaSelected) && submit()" #continueBtn>
          POKRAČOVAŤ
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>