<ion-content>
  <div class="main">
    <div class="header">
      <div class="name_div">
        <h2 class="name" [style.fontSize.px]="namesize">{{username}}...</h2>
      </div>
      <ion-item button class="item" lines="none" (click)="logout()">
        <ion-label>Odhlásiť sa</ion-label>
      </ion-item>
      <ion-item button class="item bot" lines="none" (click)="updateCredentials()">
        <ion-label>Zmeniť údaje</ion-label>
      </ion-item>
    </div>
    <div class="diagnoses">
      <div class="fade-wrapper">
        <div #fader_top class="fade-effect fade-top"></div>
        <div #fader_bot class="fade-effect fade-bot"></div>
        <div class="diagnoses_wrapper" (scroll)="removeFader($event)">
          <ion-list *ngFor="let diag of diagnoses; let i = index" class="diag_list">
            <ion-item class="diag_item" lines="none">
              <ion-label>{{diag.name}}</ion-label>
              <ion-button (click)="removeDiag(i)" fill="clear" slot="end">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
    <div class="confirm">
      <div class="btn-div">
        <ion-button (click)="addDiagnosis()" expand="block" fill="solid" shape="round" class="app-big-btn app-button-dark">
          Pridať diagnózu
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>