<ion-header id="header" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Späť" icon="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <h4 class="caption">
      Zabudli ste heslo?
    </h4>
    <div class="form-inputs">
      <div class="item_div">
        <ion-item class="input_item" lines="none" [ngClass]="emailHighlighter">
          <ion-input [(ngModel)]="usermail" (ionFocus)="setHighlight('focus')"
            (ionBlur)="setHighlight('blur')" (ionChange)="checkValidation()"
            placeholder="Zadajte e-mail" inputmode="email" maxlength=30 autofocus="true" required="true"></ion-input>
        </ion-item>
      </div>
      <p class="item_text">
        Potvrďte e-mail, na ktorý Vám zašleme inštrukcie
      </p>
    </div>

    <div class="form-buttons">
      <div class="btn-div">
        <ion-button (click)="sendEmail()" expand="block" [fill]="validEmail ? 'solid' : 'outline'" shape="round"
          class="app-big-btn" [ngClass]="validEmail ? 'app-button-dark' : 'app-button-light'">
          Zaslať inštrukcie
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>