<ion-header id="header" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Späť" icon="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div [ngClass]="{'loaded': loaded}" id="wrapper">
      <div id="cover"></div>
      <video id="player" #player loop controls controlsList="nodownload" preload="auto" muted="true"></video>
    </div>
    <ion-grid fixed>
      <ion-row>
        <ion-col *ngFor="let col of videoCount; let i = index">
          <img *ngIf="actualVideo == i" src="/assets/images/icons/pagination-selected.svg" alt="">
          <img *ngIf="actualVideo != i" src="/assets/images/icons/pagination-unselected.svg" alt="">
        </ion-col>
      </ion-row>
    </ion-grid>
    <h4>Program {{excersiceDiagnose.name}}</h4>
    <div class="nav_btns">
      <div class="nav_btn">
        <ion-button *ngIf="actualVideo > 0" (click)="previous()" fill="solid" shape="round" class="btn_left">
          <ion-label><----- </ion-label>
        </ion-button>
        <ion-button *ngIf="actualVideo == 0" (click)="previous()" fill="solid" shape="round" class="btn_disabled">
          <ion-label><----- </ion-label>
        </ion-button>
      </div>
      <div class="nav_btn">
        <ion-button *ngIf="actualVideo < videoCount.length -1" (click)="next()" fill="solid" shape="round"
          class="btn_right">
          <ion-label>-----></ion-label>
        </ion-button>
        <ion-button *ngIf="actualVideo == videoCount.length -1" (click)="done()" fill="solid" shape="round"
          class="btn_disabled">
          <ion-label>OK</ion-label>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>