<ion-content>
  <ion-slides #slider class="slider" pager [options]="slideOpts" (ionSlideWillChange)="changeText()" (click)="sliderClicked($event)">
    <ion-slide class="slide first">
      <app-welcome></app-welcome>
    </ion-slide>
    <ion-slide class="slide second">
      <app-owners></app-owners>
    </ion-slide>
    <ion-slide class="slide third">
      <app-info></app-info>
    </ion-slide>
  </ion-slides>

  <div *ngIf="lastSlide" class="fixed btnDiv">
    <ion-button (click)="skip()" expand="block" fill="solid" shape="round" class="begin-btn">
      ZAČNITE
    </ion-button>
  </div>
  <b *ngIf="!lastSlide" (click)="skip()" class="fixed txt">Preskočiť</b>
</ion-content>