.slider {
    height: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.side {
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 50;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.btnDiv {
    position: fixed;
    top: 80%;
    left: 50%;
    width: 50%;
    margin-left: -25%;
    z-index: 99;
    
    ion-button {
        --border-color: black;    
        --color: black;
    }
}

.slide {
    background-size: 300vw 100vh;
    background-repeat: no-repeat;
}

.first {
    background-image: url(src\assets\images\entire.png);
    }   
.second {
    background-image: url(src\assets\images\entire.png);
    background-position-x: -100vw;
}
.third {  
    background-image: url(src\assets\images\entire.png);
    background-position: -200vw;
}
