.slider {
    height: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;

    --bullet-background: #8ABEC4;
    --bullet-background-active: #F8444F;
    // other pagination bullet design (color, position, opacity) is defined in variables.scss    
}

.side {
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 50;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.slide {
    background-size: 300vw 100vh;
    background-repeat: no-repeat;
}

.first {
    background-image: url(src\assets\images\entire.png);
}   
.second {
    background-image: url(src\assets\images\entire.png);
    background-position-x: -100vw;
}
.third {  
    background-image: url(src\assets\images\entire.png);
    background-position: -200vw;
}

.btnDiv {
    width: 50%;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%);
    
    ion-button {
        --border-color: black;    
        --color: black;
    }
}

.txt {
    right: 5%;
    bottom: 5%;
}

.fixed {
    z-index: 99;
    position: fixed;
}